
.App {
    position: relative;
  text-align: center;
  height: 100%;
}

.app-body {
    min-height: calc(100vh - 80px);
    display:flex;
    flex-flow: column;
    background-color: #fff;
}

.page {
    margin-top: 50px;
}

.body-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 85px;
}

.page-header {
    text-align: left;
    padding: 10px 0px 0px 15px;
    border-bottom: solid #e0e0e0 1px;
}

.page-header h2 {
    font-weight: 400;
    font-size: 25px;
}

.page-body {
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.page-paper-content {
    flex: 0 0 100%;
    margin: 20px 0px;
}

.paper-body {
    padding: 0px 15px;
}

@media screen and (max-width: 500px) {
    .page-header h2 {
        font-size: 20px;
    }

    .paper-body {
        font-size: 12px;
    }

    ToolbarTitle {
        font-size: 18px;
    }
}
